<div class="page-container container-md">
  <h1>Step 2: Data analysis</h1>
  <p class="lead">Transfer collected data here to start the analysis</p>

  <mat-expansion-panel [(expanded)]="panelExpanded">
    <mat-expansion-panel-header>
      <mat-panel-title>Data input</mat-panel-title>
    </mat-expansion-panel-header>

    <p>Paste data here to begin analysis</p>
    <mat-form-field>
      <textarea matInput (input)="readData($event)"></textarea>
    </mat-form-field>
  </mat-expansion-panel>

  <ng-container *ngIf="data$ | async as data">
    <h2>Data</h2>
    <app-pretty-json
      [data]="data"
      [metadata]="getMetadata(data)"
    ></app-pretty-json>
    <!-- <pre><code>{{ data | json }}</code></pre> -->
  </ng-container>
</div>
