<div class="page-container container-md">
  <h1>Data collection</h1>
  <p class="lead">Instructions to gather data for analysis</p>

  <p class="col-lg-6 col-md-8">
    Copy and paste one of the following code snippets into you browsers console
    to activate the data collection. The collected data will be output to the
    console. Transfer the collected data to the "Analysis" page for an in-depth
    analysis.
  </p>

  <ng-container *ngIf="scripts$ | async as scripts">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title
            >Manual data collection script (minified)</mat-panel-title
          >
          <mat-panel-description>Recommended</mat-panel-description>
        </mat-expansion-panel-header>
        <code>{{ scripts.minified }}</code>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >Manual data collection script (base64-encoded)</mat-panel-title
          >
          <mat-panel-description
            >Try this if minified does not work</mat-panel-description
          >
        </mat-expansion-panel-header>
        <code>{{ scripts.b64 }}</code>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >Manual data collection script (raw source code)</mat-panel-title
          >
          <mat-panel-description>Advanced</mat-panel-description>
        </mat-expansion-panel-header>
        <code>
          <pre>{{ scripts.raw }}</pre>
        </code>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</div>
