<div class="page-container container-md">
  <h1>Data collection</h1>
  <p class="lead">Instructions to gather data for analysis</p>

  <p class="col-lg-6 col-md-8">
    Copy and paste the following code snippet into you browsers console to
    activate the data collection. The collected data will be output to the
    console. Transfer the collected data to the "Analysis" page for an in-depth
    analysis.
  </p>

  <div class="accordion" id="collection-script-accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Manual data collection script (console-based)
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#collection-script-accordion"
      >
        <div class="accordion-body">
          <code>{{ script$ | async }}</code>
        </div>
      </div>
    </div>
  </div>
</div>
