<span class="field-name" [matTooltip]="metadata?.genericDescription ?? ''">{{
  name
}}</span
>:
<ng-container *ngIf="isObject">
  {{ "{" }}
  <app-field
    *ngFor="let field of objectFields; trackBy: fieldName"
    [name]="field.name"
    [data]="field.data"
    [metadata]="field.metadata"
  ></app-field>
  {{ "}" }},
</ng-container>

<ng-container *ngIf="isArray">
  [
  <ng-container *ngFor="let item of arrayFields; trackBy: index">
    <div class="array-item">
      {{ "{" }}
      <app-field
        *ngFor="let field of item; trackBy: fieldName"
        [name]="field.name"
        [data]="field.data"
        [metadata]="field.metadata"
      ></app-field>
      {{ "}" }},
    </div>
  </ng-container>
  ]
</ng-container>

<ng-container *ngIf="isPrimitive"> {{ data }} </ng-container>
<br />
