<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-md">
    <a class="navbar-brand" routerLink="/">Webauthn tools</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Analyze
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a
                class="dropdown-item"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                routerLink="/analyze/data-collection"
                >1. Data collection</a
              >
            </li>
            <li class="nav-item">
              <a
                class="dropdown-item"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                routerLink="/analyze/analysis"
                >2. Analysis</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            routerLink="/prf-demo"
            >PRF Demo</a
          >
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Security
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a
                class="dropdown-item"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                routerLink="/security/existence-checker"
                >Credential existence checker</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
