<div class="page-container container-md">
  <h1>Account Demo: User profile</h1>
  <p class="lead">This page represents a logged in view.</p>

  <h2>User: {{ username }}</h2>
  <span class="text-success" *ngIf="createPasskey.success"
    >A passkey was automatically registered</span
  >
  <span class="text-danger" *ngIf="createPasskey.error"
    >Failed to create passkey: {{ createPasskey.error }}</span
  >

  <h2>Browser capabilities</h2>
  <ul>
    <li>
      Conditional Create:
      <ng-container *ngIf="capabilities.conditionalCreate === undefined"
        >Unknown</ng-container
      >
      <ng-container *ngIf="capabilities.conditionalCreate === false"
        >Not supported</ng-container
      >
      <ng-container *ngIf="capabilities.conditionalCreate === true"
        >Supported</ng-container
      >
    </li>
  </ul>
</div>
